.Card-header{
    display: flex;
    flex-direction: column;
    height: 4rem;
    font-size: 14px;
    font-weight: 100;    
}

.user-container{
    display: flex;
    flex-direction: row;
}

.dev-profile-img{
    border-radius: 50%;
    height: 3.4rem;
    width: 3.4rem;
    margin-right: .5rem;
}

.user-text-container{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: space-between;
    width: 100%;
}

.text-author-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 4rem;
    position: relative;
    bottom: 1rem;
    line-height: 1.5rem;
}

.user{
    margin-right: 5px;
    font-weight: 800;
    cursor: pointer;
}

.user:hover{
    color: #14BD7B;
    text-decoration: underline; 
}

.twitter-handle-time-container{
    display: flex;
    align-items: center;
    position: relative;
    right: 22%;
}

.twitter-handle{
    margin-right: 5px;    
    color: #657786;
}

.time:before{
    margin-right: 5px;    
    content: "\00b7";
}

.time:before:hover{
    color: #657786;
    text-decoration: none;
}

.time{
    cursor: pointer;
    color: #657786;
}

.time:hover{
    color: #14BD7B;
    text-decoration: underline;
}

.fa-angle-down{
    color: #657786;
    font-size: 1.5rem !important; 
}

.fa-angle-down:hover{
    color: #14BD7B;
    cursor: pointer;
}

.author{
    color: #14BD7B;
    cursor: pointer;
}

.author:hover{
    text-decoration: underline;
}

@media only screen and (max-width : 620px) {
    .twitter-handle-time-container{
        right: 18%;
    }

    .content-container{
        width: 85% !important;
    }
}

@media only screen and (max-width : 555px) {
    .twitter-handle-time-container{
        right: 15%;
    }
}

@media only screen and (max-width : 520px) {
    .twitter-handle-time-container{
        right: 0;
    }

    .user{
        margin-right: 0;
    }

    .content-container{
        width: 80% !important;
    }
}
